body {
	display: flex;
	flex-direction: column;
  	margin: 0;
  	padding: 0;
  	background-color: #DDDDDD;	
	font-family:  "Roboto Mono"; /*monospace;*/
}

*{
	box-sizing: border-box;
}

.input {
	/*margin-left: 45%;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.data {
	width: 100%;
	padding: 25px;
}

.CodeMirror {
	margin: 25px;
	border-radius: 7px;
	font-size: 20px;
}

.CodeMirror pre {
	font-family: "Courier Pro"; /*monospace;*/

}

.control-btn {
	margin-left: 10px;
	height: 70%;
	font-size: 20px;
}

#state-btn {
	height: 27px;
	width: 40px;
}

.top-bar {
	align-items: center;
	display: flex;
	width: 100%;
	height: 40px;
	background-color: #919191;
	border: 1px;
	flex-direction: row;
	box-shadow: 0px 2px 10px #919191;
}

div [class='CodeMirror-gutter breakpoints']{
	width: 10px;
}

table {
	border-radius: 7px;
	background-color: white;
	border-spacing: 0;
	border-left: solid #DDDDDD 1px;
	border-bottom: solid #DDDDDD 1px;
	box-shadow: 0px 2px 10px #919191;
}

td {
	width: 20px;
	height: 20px;
	border-right: solid #DDDDDD 1px;
	border-top: solid #DDDDDD 1px;
}

tr {
	text-align: end;
	font-size: 14px;
}

.data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tableTabBtn {
	cursor: pointer;
	margin-left: 5px;
	color: white;
	font-size: 18px;
	background-color: #919191;
	width: 50px;
	height: 25px;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.tableTitle {
	background-color: #919191;
	color: white;
}

.specContainer {
	display: flex;
	flex-direction: column;
	width: 50px;
	align-items: flex-end;
	justify-content: space-between;
}

.regItem {
	display: flex;
	flex-direction: row;
}

.regItem input {
	border: solid #919191 1px;
	margin-left: 5px;
	box-shadow: 0px 1px 5px #919191;
}

.rContainer {
	display: flex;
	flex-direction: column;
	width: 50px;
	align-items: flex-end;
	justify-content: space-between;
}

.tContainer {
	display: flex;
	flex-direction: column;
	width: 100px;
	align-items: flex-end;
	justify-content: space-between;
}

.sContainer {
	display: flex;
	flex-direction: column;
	width: 100px;
	align-items: flex-end;
	justify-content: space-between;
}

.pContainer {
	display: flex;
	flex-direction: column;
	width: 100px;
	align-items: flex-end;
	justify-content: space-between;
}

.vertItem {
	text-align: center;
}

.vertItem input {
	border: solid #919191 1px;	
	box-shadow: 0px 1px 5px #919191;
}

input {
	font-family: "Roboto Mono";
}

.scrollBtn {
	height: 20px;
	text-align: center;
}

.left-data {
	width: 80%;
}

.peripheries{
	padding: 25px;
}

.controls{
	background-color: #d0d0d0;
	border: 1px solid black;
	border-radius: .25rem;
	padding: .5rem;
	display: flex;
	width: fit-content;
	flex-direction: column;
}

.periphery-object{
	position: relative;
}

.controls, *{
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.pin-connection-selector{
	position: absolute;
}
.pin-connection-text{
	position: absolute;
}

#peripheriesGrid{
	display: flex;
	flex-direction: row;
	gap: .25rem;
	align-items: center;
	flex-wrap: wrap;
}

#peripheryProperties{
	width: fit-content;
}

#peripheryProperties > *{
	text-align: left;
}

#modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#modal-content{
	z-index: 9999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid black;
	border-radius: .25rem;
	padding: .5rem;
}
#modal-background{
	z-index: 9998;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

p.pin-connection-text{
	font-size: .7rem;
	background-color: white;
}

.dc-rotor{
	position: absolute;
	height: 10px;
	width: 50px;
	background-color: black;
	top: 45px;
	left: 25px;
	transform-origin: center;
}

.led-matrix-table{
	table-layout: fixed;
}

.matrix-field{
	width: auto;
	height: auto;
}

.matrix-field-first{
	width: 60px;
}
.step-engine-rotator{
	position: absolute;
	height: 10px;
	width: 100px;
	background-color: black;
	top: 95px;
	left: 0;
	transform-origin: right;
}

@keyframes spin-right {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spin-left {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}