body {
	display: flex;
	flex-direction: column;
  	margin: 0;
  	padding: 0;
  	background-color: #DDDDDD;	
	font-family:  "Roboto Mono"; /*monospace;*/
}

*{
	box-sizing: border-box;
}

.input {
	/*margin-left: 45%;*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.data {
	width: 100%;
	padding: 25px;
}

.CodeMirror {
	margin: 25px;
	border-radius: 7px;
	font-size: 20px;
}

.CodeMirror pre {
	font-family: "Courier Pro"; /*monospace;*/

}

.control-btn {
	margin-left: 10px;
	height: 70%;
	font-size: 20px;
}

#state-btn {
	height: 27px;
	width: 40px;
}

.top-bar {
	align-items: center;
	display: flex;
	width: 100%;
	height: 40px;
	background-color: #919191;
	border: 1px;
	flex-direction: row;
	box-shadow: 0px 2px 10px #919191;
}

div [class='CodeMirror-gutter breakpoints']{
	width: 10px;
}

table {
	border-radius: 7px;
	background-color: white;
	border-spacing: 0;
	border-left: solid #DDDDDD 1px;
	border-bottom: solid #DDDDDD 1px;
	box-shadow: 0px 2px 10px #919191;
}

td {
	width: 20px;
	height: 20px;
	border-right: solid #DDDDDD 1px;
	border-top: solid #DDDDDD 1px;
}

tr {
	text-align: end;
	font-size: 14px;
}

.data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tableTabBtn {
	cursor: pointer;
	margin-left: 5px;
	color: white;
	font-size: 18px;
	background-color: #919191;
	width: 50px;
	height: 25px;
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.tableTitle {
	background-color: #919191;
	color: white;
}

.specContainer {
	display: flex;
	flex-direction: column;
	width: 50px;
	align-items: flex-end;
	justify-content: space-between;
}

.regItem {
	display: flex;
	flex-direction: row;
}

.regItem input {
	border: solid #919191 1px;
	margin-left: 5px;
	box-shadow: 0px 1px 5px #919191;
}

.rContainer {
	display: flex;
	flex-direction: column;
	width: 50px;
	align-items: flex-end;
	justify-content: space-between;
}

.tContainer {
	display: flex;
	flex-direction: column;
	width: 100px;
	align-items: flex-end;
	justify-content: space-between;
}

.sContainer {
	display: flex;
	flex-direction: column;
	width: 100px;
	align-items: flex-end;
	justify-content: space-between;
}

.pContainer {
	display: flex;
	flex-direction: column;
	width: 100px;
	align-items: flex-end;
	justify-content: space-between;
}

.vertItem {
	text-align: center;
}

.vertItem input {
	border: solid #919191 1px;	
	box-shadow: 0px 1px 5px #919191;
}

input {
	font-family: "Roboto Mono";
}

.scrollBtn {
	height: 20px;
	text-align: center;
}

.left-data {
	width: 80%;
}

.peripheries{
	padding: 25px;
}

.control-box{
	margin: 5px;
	background-color: #d0d0d0;
	border: 1px solid black;
	border-radius: .25rem;
	padding: .5rem;
	display: flex;
	width: fit-content;
	flex-direction: column;
}

.controls{
	display: flex;
	flex-direction: row;
}

.periphery-object{
	position: relative;
}

.controls, *{
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.pin-connection-selector{
	position: absolute;
}
.pin-connection-text{
	position: absolute;
}

.dac-pin-description-box{
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: 1px solid black;
	width: 100%;
	height: 1.25rem;
	font-size: 1rem;
	align-content: center;
}

#peripheriesGrid{
	display: flex;
	flex-direction: row;
	gap: .25rem;
	align-items: center;
	flex-wrap: wrap;
}

#peripheryProperties{
	width: fit-content;
}

#peripheryProperties > *{
	text-align: left;
}

#modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#modal-content{
	z-index: 9999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid black;
	border-radius: .25rem;
	padding: .5rem;
}
#modal-background{
	z-index: 9998;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

p.pin-connection-text{
	font-size: .7rem;
	background-color: white;
}

.dc-rotor{
	position: absolute;
	height: 10px;
	width: 50px;
	background-color: black;
	top: 45px;
	left: 25px;
	transform-origin: center;
}

.led-matrix-table{
	table-layout: fixed;
}

.matrix-field{
	width: auto;
	height: auto;
}

.matrix-field-first{
	width: 60px;
}
.step-engine-rotator{
	position: absolute;
	height: 10px;
	width: 75px;
	background-color: black;
	top: 69px;
	left: 0;
	transform-origin: right;
}

.step-engine-rotator-full{
	position: absolute;
	height: 20px;
	width: 200px;
	background-color: black;
	top: 190px;
	left: 0;
	transform-origin: right;
}

.display{
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	background-color: #1F7B34;
}

.display-inner{
	border: 1px solid yellowgreen;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #FFFFFF;
}

.display-inner > .row{
	display: flex;
	flex-direction: row;
	height: 50%;
}

.char {
	width: 6.25%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pin-descriptions{
	font-size: .7rem;
	height: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.cursor{
	background-color: #0047cc;
}

.button-clicker{
	background-color: yellowgreen;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 22%;
	opacity: 0;
}
.switch-clicker{
	background-color: yellowgreen;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
	top: 22%;
	opacity: 0;
}

.analogDisplay{
	width: 400px;
	height: 200px;
	border-radius: .5rem;
	border: 1px solid black;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.infoBox {
	background-color: white;
	border: 1px solid black;
	display: flex;
	width: 100%;
	height: 1.25rem;
	font-size: 1rem;
	align-items: center;
	justify-content: center;
}

.drawArea{
	width: 100%;
	height: 100%;
	position: relative;
}

.mainDot{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ff5900;
}

.dot{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(128, 128, 128, 0.35);
}

.adc-holder{
	border-radius: .25rem;
	width: 150px;
	height: 150px;
	display: flex;
	background-color: white;
	border: 1px solid black;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
	justify-content: center;
}
.adc-output-holder{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
}

.adc-output-holder > *{
	padding: .1rem;
	background-color: #bdbdbd;
}

.adc-voltage{
	content: "0";
	background-color: #bdbdbd;
	margin-bottom: .1rem;
}
.adc-pin-description{
	position: absolute;
}

.dac-pin-description{
	position: absolute;
}
.periphery-gui{
	position: relative;
}
.periphery-gui:hover{
	padding: 1rem;
	border: 1px solid #3B514D;
}
.periphery-gui:hover > .periphery-buttons{
	visibility: visible;
}
.periphery-buttons{
	position: absolute;
	width: 20px;
	display: flex;
	visibility: hidden;
	/*center buttons*/
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.periphery-buttons>*{
	width: 20px;
	height: 20px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: none;
}
.remove-button{
	background-color: red;
}
.save-button{
	background-color: blue;
}

@keyframes spin-right {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes spin-left {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.cursor-blinking {
	animation: blick 1s linear infinite;
}

@keyframes blick {
	50% {
		background-color: #2eff5c;
	}
}